
.searchWrapper {
    background-color: var(--second-color);
    height: 125px;
    // padding: 5px;
    margin-left: 5rem;
    border-radius: 1rem;
     button, input{
         font-size: 2rem;
     }
     form {
         padding: 20px;
     }
 }