:root {
    --correctblue-color: rgba(19, 137, 216, 0.701);
}
// .box {
//     height: 60px;
//     width: 90px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background-color: var(--third-color);
//     margin-top: 50px;
//     border-radius: 0 40% 40% 0;
// 
.colum {
    margin: 48px 20px;
    display: flex;
    flex-shrink: 1;
}
.col1 {
    flex: 1;
    overflow-y: auto;
    margin-right: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.col1__row1 {
    margin: 5% 5%;
}
.col1__row2 {
    margin: 5% 5%;
}
.col2 {
    flex: 2;
}
.col2__row1 {
    flex: 1;
    // width: auto; 
    // height: 270px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.col2__row2 {
    flex: 1.5;
    display: flex;
    // flex-shrink: 1;
    .col2__row2__col1{
        flex: 2;
        margin: 20px 10px 0 0;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
    .col2__row2__col2{
        flex: 1;
        margin: 20px 0 0 10px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
}
li {
    list-style: none;
}
.searchbox {
    position: relative; 
    display: flex;
}
.searchbox input[type="text"] {
    padding-left: 30px; 
    flex: 1;
}
.searchbox i {
    position: absolute; 
    top: 50%; 
    left: 5px; 
    transform: translateY(-50%); 
}
.searchbox input[type="text"] {
    border: 2px solid var(--second-color); 
}
.mydrop {
    font-size: 14px;
    font-weight: bold;
    margin: 2px;
    background-color: var(--second-color);
    border-color: var(--second-color);
}
.dropitem {
    font-size: 14px;
}
.myimg {
    display: block;
    margin: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: auto; 
    height: 220px; 
    object-fit: cover;
}
.cardtext{
    margin-top: 15px;
    color: var(--second-color);
    font-weight: bold;
}
.button__clear__mod, .button__clear__close {
    font-size: 14px;
    font-weight: bold;
    margin: 2px;
    background-color: darkred;
    border-color: darkred;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.button__clear__save,.button__edit__mod {
    font-size: 14px;
    font-weight: bold;
    margin: 2px;
    background-color: var(--correctblue-color);
    border-color: var(--correctblue-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.textform {
    font-size: 13px;
}
.headerBox {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--primary-color);
    text-align: center;
    margin: 5%;
}
.patientInfor {
    margin: 10px;
}