:root {
    --correctblue-color: rgba(16, 106, 103, 0.701);
}
.colum {
    margin: 20px;
    display: flex;
    flex-shrink: 1;
}
.col1 {
    flex: 1;
    overflow-y: auto;
    margin-right: 20px;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    .col1__row {
        margin: 2rem;
    }
}
.col2 {
    flex: 2;
    .col2__row1 {
        flex: 1;
        // width: auto;
        // height: 30rem;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 1rem;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        .defaultCard {
            display: flex;
            .imgColum {
                margin: auto;
            }
            .myimg {
                display: block;
                margin: auto;
                width: 70%;
                object-fit: cover;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                //border: 10px solid var(--second-color);
                border-radius: 0.5rem;
            }
            .cardbody {
                padding: 0 0 15px 15px;
                .cardtitle {
                    display: flex;
                    justify-content: flex-end;
                    .headerCard {
                        width: 80%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: var(--primary-color);
                        padding: 8px 0;
                        border-top-right-radius: 1rem;
                        border-bottom-left-radius: 1rem;
                        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                        transition: box-shadow 0.3s ease;

                        &:hover {
                            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
                        }

                        h2 {
                            font-size: 2rem;
                            margin: 0;
                        }
                    }
                }
                .cardtext {
                    margin-top: 0.5rem;
                    margin-left: 0rem;
                    
                    .textInfor {
                        color:#555;
                        margin-left: 1rem;
                        font-weight: 500;
                    }
                }
            }
        }
        .cards {
            display: none;
            .imgColum {
                margin: auto;
            }
            .myimg {
                display: block;
                margin: auto;
                width: 90%;
                // border-radius: 50%;
                object-fit: cover;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                //border: 10px solid var(--second-color);
            }
            .cardbody {
                padding: 0 0 15px 15px;
                .cardtitle {
                    display: flex;
                    justify-content: flex-end;
                    .headerCard {
                        width: 80%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: var(--primary-color);
                        padding: 8px 0;
                        border-top-right-radius: 1rem;
                        border-bottom-left-radius: 1rem;
                        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                        transition: box-shadow 0.3s ease;

                        &:hover {
                            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
                        }

                        h2 {
                            font-size: 2rem;
                            margin: 0;
                        }
                    }
                }
                .cardtext {
                    margin-top: 1.5rem;
                    margin-left: 2rem;

                    .textInfor {
                        color: red;
                    }
                }
            }
        }
    }
    .col2__row2 {
        flex: 1.5;
        display: flex;
        // flex-shrink: 1;
        .col2__row2__col1 {
            flex: 2;
            margin: 20px 10px 0 0;
            background-color: white;
            border-radius: 1rem;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }
        .col2__row2__col2 {
            flex: 1;
            margin: 20px 0 0 10px;
            background-color: white;
            border-radius: 1rem;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            .patientInfor {
                margin: 2rem;
            }
        }
    }
}
li {
    list-style: none;
}
.searchbox {
    position: relative;
    display: flex;
    input[type='text'] {
        padding-left: 30px;
        flex: 1;
    }
    i {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
    }
    input[type='text'] {
        border: 2px solid var(--second-color);
    }
}

.headerBox {
    width: 50%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 8px 0;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;

    &:hover {
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    }

    h2 {
        font-size: 2rem;
        margin: 0;
    }
}
.AddButton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
    .addButton {
        background-color: #45a049;
        border: none;
        color: whitesmoke;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        //font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 1rem;
        font-weight: bold;
        &:hover {
            background-color: #178235;
        }
        i {
            font-size: 1.5rem;
        }
    }
}
.infoTable {
    height: 200px;
    overflow-y: auto;
    margin-top: 10px;
    scroll-snap-type: y mandatory;
    .myTable {
        border-collapse: collapse;
        width: 100%;
        margin-top: 1rem;
    }
    th {
        background-color: var(--second-color);
        color: #ffffff;
        text-align: left;
        position: sticky;
        top: 0;
    }
    th,
    td {
        padding: 6px 8px;
        font-weight: normal;
    }
    tr {
        scroll-snap-align: start;
    }
    tbody tr:nth-of-type(even) {
        background-color: rgb(229, 237, 237);
    }
    td {
        i {
            font-size: 2rem;
            &:hover {
                cursor: pointer;
            }
        }
    }
    th {
        i:hover{
            cursor: pointer;
        }
    }
}
.modal {
    //display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    .modalContent {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 60%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
        .close {
            color: white;
            float: right;
            font-size: 28px;
            font-weight: bold;
            &:hover,
            &:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
        }

        .modalHeader {
            padding: 2px 16px;
            background-color: var(--correctblue-color);
            color: white;
        }
        .modalBody {
            padding: 2px 16px;
            label {
                display: block;
                font-weight: bold;
                margin: 8px;
            }
            input {
                display: flex;
                width: 100%;
            }
        }

        .modalFooter {
            padding: 2px 16px;
            background-color: var(--correctblue-color);
            color: white;
            .submitButton {
                color: var(--second-color);
                background-color: var(--third-color);
                border-radius: 1rem;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                font-weight: bold;
            }
        }
    }
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
.EditStaff {
    padding: 0 0 20px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .EditButton {
        padding-right: 1rem;
        .editButton {
            font-size: 1.5rem;
            font-weight: bold;
            background-color: #2196f3;
            border-color: #2196f3;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            color: white;
            border-radius: 1rem;
            &:hover {
                background-color: #1566bd;
            }
        }
    }
    .ClearButton {
        padding-right: 1rem;
        .clearButton {
            font-size: 1.5rem;
            font-weight: bold;
            background-color: darkred;
            border-color: darkred;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            color: white;
            border-radius: 1rem;
            &:hover {
                background-color: tomato;
            }
        }
    }
}
.PatientInfo {
    margin: 1rem;
}
