:root {
    --color1: #26a7fa;
    --color2: #fe996c;
    --color3: #93d528;
    --color4: #7a6efe;
    --color5: #f07e8d;
    --color6: #68bfe3;
    --color7: #5a6acf;
    --color8: #e9edf7;
}

.wrapper {
    padding: 2rem;
    padding-bottom: 6rem;

    .headerCalendar{
        font-size: 3rem;
        font-weight: 700;
        color: #333;
        margin: 6rem 0 1rem ;
        padding-left: 0.5rem;
        border-left: 0.6rem solid var(--primary-color);
    }

    .calendar{
        margin: 0rem -2rem;
    }
    
}

.row1 {
    display: flex;
    justify-content: space-between;

}

.quantityPatient {
    width: 66.66%;

    .row1 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;
        margin-right: 2rem;
    }

    .boxInfor {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100px;
        color: #333;
        padding: 1rem;
        padding-right: 2rem;
        // text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        border-radius: 1rem;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        background-color: #fff;

        p {
            padding-bottom: 1rem;
            margin: 0;
        }

        span {
            font-size: 2rem;
            font-weight: 600;
        }
    }

    // .boxInfor.khoa1 {
    //     background-color: var(--color1);
    // }

    // .boxInfor.khoa2 {
    //     background-color: var(--color2);
    // }

    // .boxInfor.khoa3 {
    //     background-color: var(--color3);
    // }

    // .boxInfor.khoa4 {
    //     background-color: var(--color4);
    // }

    // .boxInfor.khoa5 {
    //     background-color: var(--color5);
    // }

    .icon {
        font-size: 3rem;
        margin-right: 2rem;
    }
}

.boxChart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    margin-right: 2rem;

    .chart_1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 36.67%;
        height: 286px;
        padding: 1rem 2rem;
        border-radius: 1rem;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        background-color: #fff;

        .header {
            font-size: 2rem;
            font-weight: bolder;
            color: #38416e;
        }
        .chart1 {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 130px;
            height: 130px;
            border-radius: 50%;
            background: conic-gradient(
                var(--color4) 0deg,
                var(--color4) 120deg,
                var(--color1) 120deg,
                var(--color1) 240deg,
                var(--color2) 240deg,
                var(--color2) 360deg
            );

            .center {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 75px;
                height: 75px;
                font-size: 2rem;
                font-weight: 600;
                border-radius: 50%;
                background-color: #fff;
            }
        }

        .detail1 {
            margin-top: 2rem;
            display: flex;
            .item {
                margin-right: 1rem;
                font-size: 1.3rem;
                font-weight: 600;
                .wrap {
                    font-weight: bold;
                    font-size: 1.6rem;
                    .dot1,
                    .dot2,
                    .dot3 {
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        margin-right: 1rem;
                        border-radius: 50%;
                    }

                    .dot1 {
                        background-color: var(--color4);
                    }
                    .dot2 {
                        background-color: var(--color3);
                    }
                    .dot3 {
                        background-color: var(--color5);
                    }
                }

                .quantity1,
                .quantity2,
                .quantity3 {
                    margin-left: 2rem;
                }

                .quantity1 {
                    color: #ffa901;
                }
                .quantity2 {
                    color: #7a6efe;
                }
                .quantity3 {
                    color: #26a7fa;
                }
            }
        }
    }

    .chart_2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 59.33%;
        height: 286px;
        padding: 1rem 2rem;
        background-color: red;
        border-radius: 1rem;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        background-color: #fff;

        .header {
            font-size: 2rem;
            font-weight: bolder;
            color: #38416e;
        }

        .chart2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 130px;
            margin-bottom: 1rem;
            width: 100%;

            .bloodWrap {
                position: relative;
                height: 120px;
                width: 2rem;
                border-radius: 1rem;
                background-color: var(--color8);
                display: flex;
                flex-direction: column;
                justify-content: end;
                
                .type{
                    position: absolute;
                    top: 12.5rem;
                    left: 4px;
                    font-size: 1.5rem;
                    font-weight: bolder;
                    color: #38416e;
                }

            }

            .bloodWrap:nth-child(odd) .bloodCol {
                width: 2rem;
                height: 50%;
                border-radius: 1rem;
                background-color: var(--color6);
            }
            .bloodWrap:nth-child(even) .bloodCol {
                width: 2rem;
                height: 50%;
                border-radius: 1rem;
                background-color: var(--color7);
            }
        }

        .detail2 {
            margin-top: 2rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            .item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 1.3rem;
                font-weight: 600;
                width: 25%;
                margin-bottom: 0.5rem;
                .wrap {
                    font-weight: bold;
                    font-size: 1.6rem;
                    .dot {
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        margin-right: 0.5rem;
                        border-radius: 50%;
                    }
                }

                .quantity {
                    margin-right: 2.3rem;
                }
            }

            .item:nth-child(odd) .wrap .dot {
                background-color: var(--color6);
            }
            .item:nth-child(even) .dot {
                background-color: var(--color7);
            }
        }
    }
}

.notify {
    width: 32.33%;

    .notify__header {
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #fff;
        font-size: 2rem;
        font-weight: 500;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        border-radius: 1rem 1rem 0 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        background-color: var(--primary-color);
    }

    .notify__main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 300px;
        padding: 1rem;
        border-radius: 0 0 1rem 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        background-color: #fff;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            overflow-y: auto;
        }

        li {
            display: flex;
            align-items: center;
            padding: 0.5rem;
            border-bottom: 1px solid #888888;

            .icon {
                font-size: 3rem;
                margin-right: 2rem;
                display: flex;
                align-items: center;
            }

            .content {
                width: 100%;

                .row1 {
                    font-size: 1.8rem;
                    font-weight: 600;
                    display: flex;
                    align-items: center;

                    .date {
                        font-size: 1.5rem;
                        font-weight: 500;
                        margin-left: auto;
                    }
                }
                .row2 {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    p {
                        width: 70%; /* Độ rộng tùy chỉnh */
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }

        li:hover {
            background-color: #f0f0f0;
            cursor: pointer;
        }
    }

    .notify__footer {
        display: flex;
        justify-content: flex-end;
        margin: 0 -1rem;
        padding: 1rem 2rem 0rem;
        border-top: 2px solid #666;

        .addBtn {
            width: 60px;
            color: #fff;
            padding: 0.4rem 1rem;
            margin-right: 2rem;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            border-radius: 0.5rem;
            border: none;
            background-color: var(--primary-color);
        }

        .removeBtn {
            width: 60px;
            color: #fff;
            padding: 0.4rem 1rem;
            margin-right: 2rem;
            border-radius: 0.5rem;
            border: none;
            background-color: #b22222;
        }

        .addBtn:hover,
        .removeBtn:hover {
            cursor: pointer;
            scale: 0.95;
        }
    }
}

.addNotify {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

    .wrap {
        margin: 8% auto; /* 15% from the top and centered */
        border: 1px solid #888;
        width: 45%;
        border: none;
        border-radius: 0.7rem;
        box-shadow: 0 0 10px rgba(214, 239, 239, 0.5);
        background-color: #eee;
        overflow: hidden;
        animation: fadeIn 0.25s ease-in-out;

        header {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            padding: 0 1rem;
            font-size: 2rem;
            font-weight: 600;
            color: #fff;
            text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
            background-color: #65c5b9;

            p {
                margin: 0;
                margin-left: 50%;

                transform: translateX(-50%);
                line-height: 40px;
            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.5rem 1rem;
                margin-left: auto;
                border: none;
                border-radius: 0.5rem;
                background-color: transparent;
                filter: opacity(0.8);
            }

            button:hover {
                cursor: pointer;
                filter: opacity(1);
                background-color: #cccccc;
            }
        }

        main {
            height: 300px;
            padding: 2rem 2rem 1rem 2rem;
            textarea {
                width: 100%;
                height: 100%;
                padding: 0.5rem;
                font-size: 1.6rem;
                resize: none;
                border: none;
                outline: none;
                border-bottom: 2px solid #333;
                border-radius: 0.7rem 0.7rem 0 0;
            }
        }

        footer {
            padding-bottom: 1rem;
            padding-left: 3rem;

            button {
                color: #fff;
                text-shadow: 0 0 5px rgba(0, 0, 0, 1);
                padding: 0.5rem 1rem;
                margin-right: 2rem;
                border: none;
                border-radius: 0.5rem;
                background-color: var(--primary-color);
                filter: opacity(0.8);
            }

            button:hover {
                cursor: pointer;
                filter: opacity(1);
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        scale: 0.8;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}
